<%- include('partials/header', { title: "Home" }) %>
    <div class="container">
            <h1>RSVP Portal</h1>
            <span class="index-button-container">
                <button onclick="window.location.href='/login'">Login</button>
                <button onclick="window.location.href='/signup'">Sign Up</button>
            </span>
    </div>
<%- include('partials/footer') %>
